@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Orbitron-VariableFont_wght';
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$font-1: Poppins-Medium;
$font-2: Orbitron-VariableFont_wght;
$color-1: #FFF;
$color-2: #33001b;
$color-3 : #ff0084; 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-1, serif;
    height: 100vh;
    text-align: center;
    background: #ff0084;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}